#question {
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 10% 25%;
    display: none;
}

.answers {
    margin-top: 5px;
    border-radius: 8px;
    background-color: rgb(25, 25, 136);
    color: white;
    font-weight: lighter;
}
.answers li {
    padding: .5rem;
}
.answers-list {
    list-style: decimal inside;

}
.answers:hover {
    background-color: rgb(247, 107, 247);
}
.start-header {
    margin-left: 25%;
    margin-right: 25%;
    color: rgb(25, 25, 136);
    font-weight: bold;
    text-align: center;
}
.start-content {
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
}
#start-button {
    margin: 0 45%;
    font-weight: bold;
    background-color: rgb(25, 25, 136);
    color: white;
}
.start-button:hover {
    background-color: rgb(247, 107, 247);
}
#end-game {
    margin-left: 25%;
    margin-right: 25%;
}
#initials {
    display: flex;
}
#submit-button {
    font-weight: bold;
    background-color: rgb(25, 25, 136);
    color: white;
}
#submit-button:hover {
    background-color: rgb(247, 107, 247);
}
.score-container {
    display: flex;
}
#timer-div {
    float: right;
    margin-right: 10%;
    font-size: larger;
    font-weight: bold;
}
.timer {
    font-size: larger;
    font-weight: bold;
}
#score {
    display: flex;
    font-size: larger;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}